<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EasyBBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>edu.cuit.easybbs.dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DB</display-name>
    <servlet-name>DB</servlet-name>
    <servlet-class>edu.cuit.easybbs.dao.DB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DB</servlet-name>
    <url-pattern>/DB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name></display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>edu.cuit.easybbs.web.addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTitle</display-name>
    <servlet-name>addTitle</servlet-name>
    <servlet-class>edu.cuit.easybbs.web.addTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTitle</servlet-name>
    <url-pattern>/addTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveRevert</display-name>
    <servlet-name>saveRevert</servlet-name>
    <servlet-class>edu.cuit.easybbs.web.saveRevert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveRevert</servlet-name>
    <url-pattern>/saveRevert</url-pattern>
  </servlet-mapping>
</web-app>